<!doctype html>
<html lang="en" class="no-js">
<head>
 <script src="http://platform.twitter.com/anywhere.js?id=Ia8CGo6qvX6XbjC8kjcJRQ&amp;v=1"></script>
 <meta charset="utf-8">
 <!--[if IE]><![endif]-->
 <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
 <title>{% block title %}Actua, pirata!{% endblock %}</title>
 <meta name="description" content="Actua, pirata! Accions per abordar el Parlament">
 <meta name="author" content="Pirates de Catalunya">
 <meta name="keywords" content="eleccions, política, facebook, twitter, accions, pirata.cat, pirates, catalunya">
 <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0;">
 <meta property="fb:admins" content="" />
 <meta property="og:title" content="Actua, pirata! - Pirates de Catalunya" />
 <meta property="og:type" content="website" />
 <meta property="og:image" content="50x50" />
 <meta property="og:url" content="http://actua.pirata.cat" />
 <meta property="og:site_name" content="actua" />
 <link rel="shortcut icon" href="img/favicon.ico">
 <link rel="apple-touch-icon" href="img/apple-touch-icon.png">
 <link href='http://fonts.googleapis.com/css?family=Droid+Sans:regular,bold' rel='stylesheet' type='text/css'>
 <link rel="stylesheet" href="css/style.css?v=1">
 <link rel="stylesheet" media="handheld" href="css/handheld.css?v=1">
 <script src="http://cachedcommons.org/cache/modernizr/1.5.0/javascripts/modernizr-min.js"></script>
{% block timeplot %}
{% endblock %}
</head>
<!--[if lt IE 7 ]><body class="ie6"><![endif]-->
<!--[if IE 7 ]><body class="ie7"><![endif]-->
<!--[if IE 8 ]><body class="ie8"><![endif]-->
<!--[if IE 9 ]><body class="ie9"><![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--><body><!--<![endif]-->
  <!--nav id="menu" class="bar">
   <ul>
    <li class="no"><a href="/ca/">Inici</a></li>
    <li><a href="/ca/ideari">Ideari</a></li>
    <li><a href="http://pirata.cat/bloc/?page_id=425">Programa electoral</a></li>
    <li><a href="http://actua.pirata.cat">Activisme</a></li>
    <li><a href="/bloc">Bloc</a></li>
    <li><a href="/ca/calendari">Calendari</a></li>
    <li><a href="/ca/trobades">Trobades</a></li>
    <li><a href="/ca/contacte">Contacte</a></li>
   </ul>
  </nav>
  <nav id="xarxes" class="bar">
   <ul>
    <li class="no">Troba'ns a:</li>
    <li><a href="https://facebook.com/pirata.cat">Facebook</a></li>
    <li><a href="https://twitter.com/partit_pirata">Twitter</a></li>
    <li><a href="http://identi.ca/group/piratesdecatalunya">Identi.ca</a></li>
    <li><a href="https://n-1.cc/pg/groups/42696/piratacat/">N-1</a></li>
    <li><a href="http://www.flickr.com/groups/piratacat/">Flickr</a></li>
    <li><a href="http://youtube.com/PiratesDeCatalunyaTV">Youtube</a></li>
    <li><a href="http://webchat.freenode.net/?channels=pirata.cat">Xat</a></li>
    <li><a href="https://xifrat.pirata.cat/gestors/mailman/listinfo">Llistes de correu</a></li>
    <li><a href="http://www.pp-international.net/forum/viewforum.php?f=70">Fòrum</a></li>
   </ul>
  </nav-->
 <header>
 	<a href="/"><img id="logo" src="img/logo_piratacat.png"></a>
 </header>
 <div id="container">
 {% block content %}{% endblock %}
 </div>
 <footer>
 <img class="logo" src="img/pirata.png">
 <a href="http://pirata.cat">Pirates de Catalunya</a> - 2010
 </footer>
 <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
 <script src="js/jquery.supertextarea.js"></script>
 <script src="js/core.js"></script>
 <!--[if lt IE 7 ]>
  <script src="http://cachedcommons.org/cache/dd-belated-png/0.0.8/javascripts/dd-belated-png-min.js?v=1"></script>
 <![endif]-->
 <script>
  var _gaq = [['_setAccount', 'UA-10848153-9'], ['_trackPageview']]; 
  (function(d, t) {
   var g = d.createElement(t), s = d.getElementsByTagName(t)[0];
   g.async = true; g.src = '//www.google-analytics.com/ga.js'; s.parentNode.insertBefore(g, s);
  })(document, 'script');
 </script>
</body>
</html>
