{% extends "base.html" %}
{% block title %}Actua, pirata! - Mail d'exemple'{% endblock %}
{% block content %}
<p id="motto">Uneix-te o crea el teu grup regional! Si en crees un,
avisa per Facebook o Twitter i l'inclourem aquí.</p>
<article id="accions">
<section id="exemple" class="grup">
<h1>Mail d'exemple</h1>
<div>
<p>Bones! Et faig arribar un article que he escrit, dedica-li uns
minuts, crec que val la pena! I si vols envia-ho als teus contactes :)</p>
<p>Qui em coneix sap que no sóc gens afí a la política oficial. Tinc
desafecció al sistema polític com, segurament, els catalans que
s'abstenen de votar cada cop que hi ha eleccions (més o menys un 40-50%
i, segurament, també molts dels que voten amb l’argument de que “almenys
no podem perdre aquest dret” o apliquen el vot “útil”.</p>
<p>Però en tot aquest batibull de partits, casos de corrupció,
democràcia de votar cada 4 anys i espècies vàries he conegut un partit
realment trencador, el Pirates de Catalunya. Aquest ha nascut per omplir
un lloc que encara era buit, el lloc del ciutadà que no es conforma amb
el vot cada quatre anys i que alhora detesta la poca transparència de
les administracions i les seves incongruències. Començem bé! :)</p>
<p>El Partit Pirata forma part d’un moviment internacional amb força
ja a Suècia, Alemanya, Finlàndia, Suïssa i d'altres països. No es tracta
d’un partit polític qualsevol, ni té massa semblances amb els
tradicionals que coneixem, sinó que ha aparegut per trencar els
esquemes; és un projecte a llarg termini que es divideix en diferents
fases, però que lluitarà des del principi.</p>
<p>Es presentarà a les properes eleccions catalanes amb una idea
clara: dur a terme una democràcia real, més participativa, començant a
nivell intern del partit i disposats en generalitzar-ho a tots els
àmbits.</p>
<p>D’aquesta manera els diputats del PIRATA.CAT seguiran la següent
metodologia:</p>
<ol>
	<li>Un diputat pirata votarà sempre a favor de la Declaració dels
	Drets Humans</li>
	<li>Un diputat votarà sempre a favor de l’ideari pirata, excepte
	quan entri en conflicte amb el primer punt.</li>
	<li>Un diputat votarà sempre en proporció al que hàgin votat les
	bases, excepte quan entri en conflicte amb el primer o segon punt.</li>
</ol>
<p>D’aquesta manera, en un supòsit d’obtenir 10 diputats, aquests
votarien en proporció al que decidirien les bases. Podriem trobar-nos en
el cas de que, per exemple, una proposta ha estat votada pels ciutadans
en un 70% Sí, un 20% No i un 10% s’abstè. Llavors 7 dels diputats
votaran Sí, 2 d’aquests votarien negativamernt i 1 s’abstendria.</p>
<p>A banda, qualsevol ciutadà, a banda de votar podrà fer esmenes a
un vot en concret o fer propostes. En un futur proper s’aplicarà un
sistema, també, en el qual podràs delegar un vot concret a algú que
tinguis confiança. Per exemple: delego el meu vot sobre la qüestió
cementeri nuclear a la CANC, a l'alcalde d'Ascó o a algú altre.</p>
<p>A banda de decidir com a ciutadans el que ens incubeix, com
s'està fent a països com Süècia, tindriem un valor afegit i és que seria
pràcticament impossible que els lobby's empresarials manipulesin la
política.</p>
<p>En el supòsit de les eleccions municipals es duria a terme una
metodologia semblant. La ciutadania podria votar i proposar els afers de
la vila.</p>
<p>L’ideari de Pirates de Catalunya és breu i es pot consultar al
seu portal web http://pirata.cat. Per què és escuet? Per què volen que
sigui la ciutadania qui participi dels afers d’una manera participativa.</p>
<p>Alguns dels puntals d’aquest vaixell Pirata, són:</p>
<ul>
	<li>Democràcia directa: la gent ha de poder decidir durant la
	legislatura de tots temes que els interessen, si així ho volen.</li>
	<li>Transparència en l’administració pública.</li>
	<li>Foment i creació de programari lliure i estàndards oberts a
	l’administració i PIMEs.</li>
	<li>Reducció i simplificació de la burocràcia en l'administració.
	Aplicació de l'estant únic a l'administració.</li>
	<li>Foment de la cultura i l’accés a ella i la creació de
	continguts lliures. La cultura és una necessitat, no és un luxe.</li>
	<li>Eliminar l’escletxa digital.</li>
	<li>Oposició a patents en éssers vius i reforma del sistema de
	patents.</li>
	<li>Afiliació a 0€.</li>
</ul>
<p>Jo ho tinc clar, necessitem un canvi, i amb aquest vaixell podem
fer-lo realitat, votaré al Pirates de Catalunya (PIRATA.CAT).</p>
</div>
</section>
</article>
<br>
{% endblock %}
